//= require_self
//= require_tree .

@import "knacss"

$navbar-height: 3.25rem

body
	padding-top: $navbar-height

	a
		color: $link-color-base
		text-decoration: underline dashed

		&:hover
			color: $link-color-base-hover
			text-decoration: underline dashed

header
	position: fixed
	top: 0
	width: 100%

	background-color: $header-bg-color
	color: $background-base

	h1
		font-size: 1em
		font-weight: bold
		padding: 14px 16px
		margin: 0
		float: left
		border-right: 1px solid $border-color-base

	nav
		ul
			padding: 0
			margin: 0

			li
				float: left
				padding: 1rem 2rem
				list-style-type: none
				border-right: 1px solid $border-color-base
				display: inline

				&:last-child
					border-right: none

				&:hover
					background-color: darken($header-bg-color-contrast, 25%)
				&.active
					background-color: $header-bg-color-contrast
				a
					text-align: center
				span
					display: inline-block
					width: 25px
					height: 25px
					margin-right: .5rem

				#changes
					background: image-url("icons.png") 0 0
				#changes:hover
					background: image-url("icons.png") -25px 0
				#sites
					background: image-url("icons.png") 0 -25px
				#sites:hover
					background: image-url("icons.png") -25px -25px
				#config
					background: image-url("icons.png") 0 -50px
				#config:hover
					background: image-url("icons.png") -50px -50px

				a
					color: $background-base
					text-decoration: none

					&:hover, &:active, &:visited
						color: $background-base
						text-decoration: none


main
	h1
		color: $h1-text-color
	h2
		color: $h2-text-color
	h3
		color: $h3-text-color
	h4
		color: $h4-text-color
	h5
		color: $h5-text-color
	h6
		color: $h6-text-color

	div.current
		font-weight: 900
		background-color: lighten($header-bg-color-contrast, 20%)
		border: 1px solid lighten($header-bg-color-contrast, 20%)

		&:hover
			background-color: inherit
			border-color: $link-color-base-hover

	div.nodata
		font-style: oblique
		a
			color: $link-color

	ul.nostyle,
	li.nostyle
		list-style: '-'
		margin-left: 1rem
		padding: 0

	ul.hidden
		display: none

	.sites
		margin: .2rem 0
	.sites button
		padding: 0
		width: 25px
		height: 25px
		background: image-url("icons.png") 0 -75px
		background-color: #e3e3e3
		border-radius: .1rem

	.sites button:hover
		background: image-url("icons.png") -75px -75px

nav.tabs-menu
	margin: 0 1.2rem
	color: $link-color
	border-bottom-color: $border-color-base
	.tabs-menu-link
		color: $border-color-base
	.tabs-menu-link.is-active
		font-weight: bold
		border-bottom-color: $border-color-base
		text-decoration: none

.tabs-content
	padding: 0 1rem 1rem 1rem
	border: 1px solid $border-color-base
	border-radius: 1rem
	box-shadow: 0rem 0rem .4rem $border-color-base

form
	fieldset.block
		border: .1rem solid darken($border-color-base, 40%)
		box-shadow: 0rem 0rem .4rem $border-color-base
		border-radius: .8rem
		legend
			background-color: lighten($header-bg-color-contrast, 30%)
			color: $link-color-base
			font-weight: bold
			border: 1px solid $border-color-base
			border-left-width: thick

ul
	li.separator
		border-bottom: 1px solid #c3c3c3
	li.separator:last-child
		border-bottom: none
