// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "knacss"

div.bullet::before
	content: "· "
.red
	background-color: #ff7878
.red a,
.red a:visited
	color: #fff
.red a:hover
	color: #fff
	text-shadow: 0px 0px 4px #ff3

.orange
	background-color: #ff9653
.orange a,
.orange a:visited
	color: #600
.orange a:hover
	color: #600
	text-shadow: 0px 0px 4px #ffc
.yellow
	background-color: #fff28e
