<header>
	<h1>Alice</h1>
	<nav>
		<ul>
			<li>
				<span id="changes"> </span><%= link_to 'Changes', diffs_path %>
			</li>
			<li>
				<span id="sites"> </span><%= link_to 'Sites', sites_path %>
			</li>
			<li>
				<span id="config"> </span><%= link_to 'Config', config_index_path %>
			</li>
		</ul>
	</nav>
</header>
